<!DOCTYPE html>
<html lang="en-gb">
<head>
    <title>{% block title %}Paroisse Saint-Leon{% endblock title %}</title>
    {% load static %} {# Allow access to Static files #}
    {% load stLeon_extras %}   {# Allow custom functions #}

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'stLeon/main.css' %}">

    <!-- Logo Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

    {% block head_css %}
        {#  Page-based CSS files #}
    {% endblock head_css %}

    {% block scriptFiles %}
        {#  Page-based JS Files  #}
    {% endblock scriptFiles %}
</head>
    <div id="header">
        <!-- MAIN NAV -->
        <nav class="main-navbar center-h" id="main-nav-bar">
            <a href="{% url 'stLeon:index' %}" class="main-nav-item">La Paroisse</a>
            <a href="info_pratique" class="main-nav-item">Info Pratique</a>
            <a href="vie_spirituel" class="main-nav-item">Vie Spirituel</a>
            <a href="groups" class="main-nav-item">Groups</a>
            <a href="prier" class="main-nav-item">Prier</a>
            <a href="#horaires-info-anchor" class="main-nav-item">Horaires</a>
            <div class="search-box"></div>
        </nav>

        <!-- SIDE NAV -->
        <div id="sideNav" class="side-nav">
            <a href="javascript:void(0)" class="close-btn" onclick="closeNav()">&#215;</a>
            <a href="la_paroisse" class="side-nav-item">La Paroisse</a>
            <a href="info_pratique" class="side-nav-item">Info Pratique</a>
            <a href="vie_spirituel" class="side-nav-item">Vie Spirituel</a>
            <a href="groups" class="side-nav-item">Groups</a>
            <a href="prier" class="side-nav-item">Prier</a>
            <!-- <div class="search-box"></div> -->
        </div>
    </div><!-- END: Header -->

    {% block main %}
    {% endblock main %}

    <!-- FOOTER -->
    <div id="footer">
        <div id="footer-table">
            <ul id="footer-links-list">
                <li><a href="#" class="footer-link">Accesibilt&eacute;</a></li>
                <li><a href="#" class="footer-link">Mentions Legales</a></li>
                <li><a href="#" class="footer-link">Plan du Site</a></li>
                <li><a href="#" class="footer-link">Espace Priv&eacute;</a></li>
                <li><a href="#" class="footer-link">Fil RSS du Site</a></li>
            </ul>
        </div>
        <p id="footer-text">Paroisse Saint-L&eacute;on &agrave; Paris - 2020</p>
    </div><!-- END: Footer -->

    <!-- SIDE NAV -->
    <script type="text/javascript" src="{%  static 'stLeon/js/sideNav.js' %}"></script>

    <!-- SEARCH BOX -->
    <script>var SEARCH_ICON_STATIC_URL = '{%  static "stLeon/images/search.svg" %}'; //Define img url </script>
    <script type="text/javascript" src="{%  static 'stLeon/js/searchBox.js' %}"></script>

    <!--  Helper JS Scripts -->
    <script type="text/javascript" src="{% static 'stLeon/js/helper_functions.js' %}"></script>

    {#  Page based scripts  #}
    {% block endscripts %}
    {% endblock endscripts %}
</html>