{% extends 'stLeon/base.html' %}
{% load static %}

{% block title %}Visite Culturelle - Paroisse Saint Leon{% endblock title %}
{% block head_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'stLeon/visite.css' %}">
{% endblock head_css %}
{% block scriptFiles %}
    <script type="text/javascript" src="{%  static 'stLeon/js/visite-slideshow.js' %}"></script>
{% endblock scriptFiles %}

{% block main %}
<div id="visite-container">

    <div class="visite-elements">
        <!-- Title Page -->
        <div class="slides-v visite-active">
            <div id="visite-titlePage">
                <div id="titlePage-header" class="center-v">
                    <p id="titlePage-header-text">Visite Culturelle de L’Église Saint-Léon<br>
                        <span id="titlePage-header-dates">1924 - 1945</span></p>
                </div>

                <!-- SHAPES : Le commencement -->
                <div class="shape-container">
                    <div class="shapes" id="shape-1"></div>
                    <div class="shapes" id="shape-2"></div>
                    <img class="shapes" id="img-1" src="{% static 'stLeon/images/Visite/stLeon_interieur.png' %}">
                    <div class="shapes" id="shape-3"></div>
                    <img class="shapes" id="img-2" src="{% static 'stLeon/images/Visite/pape_leon_1er.png' %}">
                    <img class="shapes" id="img-3" src="{% static 'stLeon/images/Visite/stLeon_facade.png' %}">
                    <div class="shapes" id="shape-4"></div>
                    <div class="shapes" id="shape-5"></div>
                </div>
            </div><!-- END: title Page -->
        </div><!-- END: slide-v:TitlePage -->

        <!-- Slide Contents -->
        {% for slide in visiteCult %}
            <div class="slides-v">
                <div class="slide-container">
                    <div class="slide-header">
                        <p class="slide-header-text">{{ slide.header|safe }}</p>
                        <div class="slide-text">{{ slide.text|safe }}</div>
                    </div>

                    <div class="slide-visuals">
                        <div class="slide-shape"></div>
                        {% with 'stLeon/images/Visite/'|add:slide.img_src as image_static %}
                            <img class="slide-img" src="{% static image_static %}" alt="{{ slide.img_alt }}">
                        {% endwith %}
                        <figcaption class="slide-img-caption">{{ slide.img_cap }}</figcaption>
                    </div>
                </div>
            </div><!-- END: slides-v -->
        {% endfor %}

    </div><!-- END: visite elements -->
</div><!-- END: visite container -->

    <!-- VISITE NAV BAR -->
    <div id="visite-nav">
        <button class="visite-nav-link" onclick="currentSlide(2)">Le Commencement</button>
        <button class="visite-nav-link" onclick="currentSlide(3)">Pape L&eacute;on 1er</button>
        <button class="visite-nav-link" onclick="currentSlide(4)">L'Architect</button>
        <button class="visite-nav-link" onclick="currentSlide(5)">L'Inspiration</button>

        <div class="dropdown">
            <button class="drop-btn" onclick="currentSlide(6)">La D&eacute;coration
                <i class="fa fa-caret-up"></i>
            </button>
            <div class="dropdown-content">
                <button class="visite-nav-link-dp" onclick="currentSlide(7)">Les Dimmensions</button>
                <button class="visite-nav-link-dp" onclick="currentSlide(6)">L'Art-D&eacute;co</button>
            </div>
        </div>

        <div class="dropdown">
            <button class="drop-btn" onclick="currentSlide(8)">Les D&eacute;tails
                <i class="fa fa-caret-up"></i>
            </button>
            <div class="dropdown-content">
                <button class="visite-nav-link-dp" onclick="currentSlide(13)">L'Orgue, Le Mobilier</button>
                <button class="visite-nav-link-dp" onclick="currentSlide(10)">Les Ferronneries</button>
                <button class="visite-nav-link-dp" onclick="currentSlide(12)">Les Sculptures</button>
                <button class="visite-nav-link-dp" onclick="currentSlide(11)">Les Vitraux</button>
                <button class="visite-nav-link-dp" onclick="currentSlide(9)">Les Mosaïques</button>
                <button class="visite-nav-link-dp" onclick="currentSlide(8)">La Brique</button>
            </div>
        </div>
    </div><!-- END: visite nav bar -->

    <div id="spacer"></div>

{% endblock main %}

